body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
  background-color: black;
  color: #fff;
}
.dark-mode .novel-item {
  background-color: #1e1e1e;
  color: white;
}
.dark-mode .novel-item {
  background-color: #333;
  border: 1px solid #555;
}